
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #383838;
}

body {

    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    
}

.Nav-bar {
    background:rgb(20, 20, 20);
    margin: 0;
    padding: 1rem 0;
    display:flex;
    justify-content: flex-start;
}
